<script setup lang="ts" name="{{ properCase componentName }}Page">
import {{ properCase componentName }} from '~/components/{{ properCase componentName }}'
</script>

<template>
  <div>
    <{{ properCase componentName }} />
  </div>
</template>
